body{
    background-image: url('wallpapergame.jpg');
    background-size: 1920px 1080px;
    position: relative;
    background-repeat: no-repeat;
    background-color: black;
}
.siteTitle{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 115, 0);
    text-align: center;
    /*-webkit-text-stroke-width: 1px;  largura da borda */
    /*-webkit-text-stroke-color:white;  cor da borda */
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(20, 141, 255, 0.555);
    display: block;
    transition: 0.3s;
    font-family: arial;
  }
  
  .sidenav a:hover {
    color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: orange;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .menu{
      color: rgb(255, 115, 0);
  }
  .mplayer{
      color: orange;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      left: 45%;
      top: 63%;
      background-color: black;
      border-style: solid;
      border-color: orange;
      height: 30px;
      width: 40px;
      text-align: center;
  }
  .mplayer1{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 63%;
    background-color: black;
    border-style: solid;
    border-color: orange;
    height: 30px;
    width: 40px;
    text-align: center;
}
.mplayer:hover{
    color: rgba(0, 153, 255, 0.767);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 45%;
    top: 65%;
    background-color: black;
    border-style: solid;
    border-color:  rgba(0, 153, 255, 0.767);
    height: 30px;
    width: 40px;
}
.mplayer1:hover{
  color: rgba(0, 153, 255, 0.767);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 50%;
  top: 65%;
  background-color: black;
  border-style: solid;
  border-color: rgba(0, 153, 255, 0.767);
  height: 30px;
  width: 40px;
}
/* Codigo Enter the Gungeon - Inicio*/
.contGame1{
  border-style: double;
  border-color: black;
  border-radius: 0px;
  height: 485px;
  width: 300px;
  margin-left:145px;
  margin-top: -70px;
}
.contGame1:hover{
  border-style: double;
  border-color: orangered;
  border-radius: 0px;
  height: 485px;
  width: 300px;
  margin-left:145px;
  margin-top: -70px;
}
.rGame1{
  color: rgb(255, 115, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 75px;
  position: fixed;
  top: 15%;
}
.iGame1{
  position: fixed;
  margin-left: 0px;
  top: 25%;
}
.iGame1:hover{
  cursor: pointer;
}
.rGameD{
  background-color: black;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  position: fixed;
  top: 50%;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 2px; 
  border-style: double;
  border-color: orange;
  /*-webkit-text-stroke-width: 1px;  
  -webkit-text-stroke-color:orange;  */
}
/* Codigo Enter the Gungeon - Final*/
/* Codigo League of Legends - Inicio*/
.contGame2{
  border-style: solid;
  border-radius: 0px;
  height: 485px;
  width: 300px;
  margin-left:455px;
  margin-top: -489px;
}
.contGame2:hover{
  border-style: double;
  border-color: orangered;
  border-radius: 0px;
  height: 485px;
  width: 300px;
  margin-left:455px;
  margin-top: -489px;
}
.rGame2{
  color: rgb(255, 115, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 75px;
  position: fixed;
  top: 15%;
}
.iGame2{
  position: fixed;
  margin-left: 0px;
  top: 25%;
}
.iGame2:hover{
  cursor: pointer;
}
.rGameDLOL{
  background-color: black;
  color: orange;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  position: fixed;
  top: 50%;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  border-radius: 2px; 
  border-style: double;
  border-color: orange;
  /*-webkit-text-stroke-width: 1px;  
  -webkit-text-stroke-color:orange;  */
}